In [1]:
import pandas as pd
import requests
import boto3
import pickle
import joblib
from io import BytesIO

In [3]:
r = requests.get('https://chris-netflix-api.herokuapp.com/get-model?user_id=754322&movie_id=786')

r.json()

In [2]:
# Replace with your S3 bucket name
S3_BUCKET_NAME = "netflix-project-bucket"

# Replace with your AWS access key ID and secret access key
s3 = boto3.client("s3", aws_access_key_id="AKIA5PG57CCAVLA4JKVV", aws_secret_access_key="sLusBfux7sYGzK5rK8VH7mFtvHjP7jr4FEfGX9wQ", region_name = 'eu-west-3')



S3_url = "https://netflix-project-bucket.s3.eu-west-3.amazonaws.com/mlflow/b39412d12b83497cb6202eb3fa71b4f8/artifacts/model.pkl"

# Take only the name of the image
model_s3_key = S3_url.split('.com/')[1]


# Retrieve image from S3 bucket

# Load the model directly from S3 to BytesIO object
model_bytes = BytesIO()
s3.download_fileobj(S3_BUCKET_NAME, model_s3_key, model_bytes)

# Reset the file object position to the beginning
model_bytes.seek(0)

# Load the model from the BytesIO object
model = joblib.load(model_bytes)

In [3]:
round(model.predict(3529, 505).est, 3)

3.327

In [4]:

from scipy.sparse import csr_matrix
import pandas as pd
from pandas.errors import ParserError
import numpy as np
from surprise import Reader, Dataset, SVD

import csv
from urllib import request
def csv_data_func(url_movies):
    # Download the CSV file
    response = request.urlopen(url_movies)
    data = response.read().decode('ISO-8859-1')

    # Read the CSV data
    reader = csv.reader(data.splitlines())
    csv_data = list(reader)

    return csv_data

url_movies = 'https://netflix-project-bucket.s3.eu-west-3.amazonaws.com/data/movie_titles.csv'
csv_data = csv_data_func(url_movies)

In [6]:
data = []
columns = ['Movie_Id', 'Year', 'Movie_Name']

for line in csv_data:
    try:
        fields = ','.join(line).strip().split(',', 2)
        
        data.append(fields)
        
    except ParserError:
        # Handle the row with an incorrect field count
        # You can choose to skip, modify, or save it separately for further investigation
        continue

df_title = pd.DataFrame(data, columns=columns)
df_title['Movie_Id'] = df_title['Movie_Id'].astype(int)
df_title.set_index('Movie_Id', inplace = True)
df_title.head(10)

          Year                    Movie_Name
Movie_Id
1         2003               Dinosaur Planet
2         2004    Isle of Man TT 2004 Review
3         1997                     Character
4         1994  Paula Abdul's Get Up & Dance
5         2004      The Rise and Fall of ECW
6         1997                          Sick
7         1992                         8 Man
8         2004    What the #$*! Do We Know!?
9         1991      Class of Nuke 'Em High 2
10        2001                       Fighter

In [26]:
def preprocessing(url_users):
    # Read the CSV file from the given URL into a DataFrame
    df = pd.read_csv(url_users, header=None, names=['Cust_Id', 'Rating'], usecols=[0, 1])

    # Convert the 'Rating' column to float data type
    df.Rating = df.Rating.astype(float)

    # Create a new DataFrame with the indices of missing values in the 'Rating' column
    df_nan = df.Rating.isnull()[df.Rating.isnull() == True].reset_index()

    # Initialize variables for storing movie IDs
    movie_np = []
    movie_id = 1

    # Iterate over the indices of missing values to assign movie IDs
    for i, j in zip(df_nan['index'][1:], df_nan['index'][:-1]):
        # Create a numpy array with movie_id repeated a certain number of times
        temp = np.full((1, i - j - 1), movie_id)
        movie_np = np.append(movie_np, temp)
        movie_id += 1

    # Handle the last block of missing values separately
    last_record = np.full((1, len(df) - df_nan.iloc[-1, 0] - 1), movie_id)
    movie_np = np.append(movie_np, last_record)

    # Remove rows with missing values in the 'Rating' column
    df = df[pd.notnull(df['Rating'])]

    # Add the 'Movie_Id' column to the DataFrame
    df['Movie_Id'] = movie_np.astype(int)
    df['Cust_Id'] = df['Cust_Id'].astype(int)
    df['Rating'] = df['Rating'].astype(int)
    return df



url_users = "https://netflix-project-bucket.s3.eu-west-3.amazonaws.com/data/combined_data_1.txt"

df = preprocessing(url_users)

In [10]:
df_title.shape

(17770, 2)

In [12]:
user_785314 = df_title.copy()
user_785314 = user_785314.reset_index()
#user_785314 = user_785314[~user_785314['Movie_Id'].isin(drop_movie_list)]

#reader = Reader()
# getting full dataset
#data = Dataset.load_from_df(df[['Cust_Id', 'Movie_Id', 'Rating']], reader)

#trainset = data.build_full_trainset()
#model.fit(trainset)

user_785314['Estimate_Score'] = user_785314['Movie_Id'].apply(lambda x: round(model.predict(785314, x).est, 0))

user_785314 = user_785314.drop('Movie_Id', axis = 1)

user_785314 = user_785314.sort_values('Estimate_Score', ascending=False)
print(user_785314.head(50))

       Year                                         Movie_Name  Estimate_Score
9523   1999                                    The Winslow Boy             4.0
2160   1993                          Six Degrees of Separation             4.0
2127   1993                                               Rudy             4.0
2128   1960                         The Twilight Zone: Vol. 41             4.0
2129   1998                                          Citizen X             4.0
7951   2000                                               Dune             4.0
12259  1987                                             Barfly             4.0
10889  1978                        Revenge of the Pink Panther             4.0
15921  1967                                       The Graduate             4.0
10891  2001                                         The Unsaid             4.0
10892  2004  Saturday Night Live: The Best of Christopher W...             4.0
7941   1960                                   Inherit the Wind             4.0
4270   1996                                              Bound             4.0
2143   2004             VeggieTales: Dave and the Giant Pickle             4.0
15916  1991                      Ren & Stimpy: Seasons 1 and 2             4.0
6349   1998                                          Rush Hour             4.0
2148   1998                                        Buffalo '66             4.0
7936   2000                                  Finding Forrester             4.0
4265   2004                          The Passion of the Christ             4.0
10902  1993  Mystery Science Theater 3000: The Brain That W...             4.0
6354   2002                               Smallville: Season 2             4.0
14060  1991                               Record of Lodoss War             4.0
10882  1996                                        The Titanic             4.0
12261  1965                          A Charlie Brown Christmas             4.0
7969   1947                                   Life With Father             4.0
7983   1993               Star Trek: Deep Space Nine: Season 1             4.0
4301   1982                         An Officer and a Gentleman             4.0
14038  1963                                          The Birds             4.0
6323   1983                                    The Thorn Birds             4.0
15956  1998                          The Count of Monte Cristo             4.0
14043  2000                                  Edge of Seventeen             4.0
2101   1994                             The Simpsons: Season 6             4.0
7972   1995                                      The Sum of Us             4.0
14049  1971                Willy Wonka & the Chocolate Factory             4.0
6338   1995                            Desperado / El Mariachi             4.0
15946  1994             Homicide: Life on the Street: Season 3             4.0
2110   1968                         The Twilight Zone: Vol. 33             4.0
2113   2002                                            Firefly             4.0
7962   1987  Married... with Children: The Most Outrageous ...             4.0
4283   1954                                  Dial M for Murder             4.0
15938  1999                                  A Murder of Crows             4.0
7959   1948                             The Lady from Shanghai             4.0
14055  1959                       Ben-Hur: Collector's Edition             4.0
7927   2002                                     Antwone Fisher             4.0
2161   2000                                      CSI: Season 1             4.0
15966  1983                               The A-Team: Season 1             4.0
15901  2003                 Blue Collar Comedy Tour: The Movie             4.0
2191   1999                                      The Hurricane             4.0
7904   1962                          The Twilight Zone: Vol. 1             4.0
2194   2004         The Looney Tunes Golden Collection: Vol. 2             4.0

In [13]:
user_785314.Estimate_Score.unique()

array([4., 3., 2.])

:

In [15]:
import psycopg2
conn = psycopg2.connect(
    host="ec2-3-233-174-23.compute-1.amazonaws.com",
    port="5432",
    database="dcbm1ld9tga447",
    user="viydnrsefbhxas",
    password="77bbc6678eb64c1cc4bcfe590ab0d17b5c27a9a366fc50692d42eb244ede1055"
)


conn.rollback()

cursor = conn.cursor()
# Create a table
create_table_query = "CREATE TABLE test_nextflix_table (record_id serial PRIMARY KEY, \
                                                user_id integer,\
                                                movie_id integer,\
                                                movie_name varchar, \
                                                prediction integer);"
cursor.execute(create_table_query)
record_id=0
movie_id=1
movie_name="the godfather"
user_id=5
prediction=3
# Insert data into the table
insert_data_query = "INSERT INTO test_netflix_table (record_id, user_id,  movie_id, movie_name, prediction) VALUES (%s, %s, %s, %s, %s);"
data = (record_id, movie_id, movie_name, user_id, prediction)
cursor.execute(insert_data_query, data)

conn.commit()

cursor.close()
conn.close()

UndefinedTable: relation "test_netflix_table" does not exist
LINE 1: INSERT INTO test_netflix_table (record_id, user_id,  movie_i...
                    ^

In [16]:
import psycopg2

conn = psycopg2.connect(
    host="ec2-3-233-174-23.compute-1.amazonaws.com",
    port="5432",
    database="dcbm1ld9tga447",
    user="viydnrsefbhxas",
    password="77bbc6678eb64c1cc4bcfe590ab0d17b5c27a9a366fc50692d42eb244ede1055"
)

conn.rollback()

cursor = conn.cursor()

# Create a table
create_table_query = "CREATE TABLE test_nextflix_table (record_id serial PRIMARY KEY, \
                                                        user_id integer, \
                                                        movie_id integer, \
                                                        movie_name varchar, \
                                                        prediction integer);"
cursor.execute(create_table_query)

record_id = 0
movie_id = 1
movie_name = "the godfather"
user_id = 5
prediction = 3

# Insert data into the table
insert_data_query = "INSERT INTO test_nextflix_table (record_id, user_id, movie_id, movie_name, prediction) \
                     VALUES (%s, %s, %s, %s, %s);"
data = (record_id, user_id, movie_id, movie_name, prediction)
cursor.execute(insert_data_query, data)

conn.commit()

cursor.close()
conn.close()